.app-container {
  background: #c9ff8c;
  height: 100vh;
}

.heading,
.stopwatch-timer,
.button {
  font-family: sans-serif;
}
.stopwatch-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 0px 20px rgb(73 73 73 / 16%);
}

.stopwatch {
  color: #333333;
  font-size: 52px;
  font-weight: 500;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9857f8;
  width: 310px;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0px 4px 40px rgba(23, 31, 70, 0.16);
}

.timer {
  display: flex;
  align-items: center;
}

.timer-image {
  margin-right: 8px;
}

.heading {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}

.stopwatch-timer {
  color: #fff;
  font-size: 72px;
  font-weight: 500;
}

.timer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 100%;
  height: 35px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}

.start-button {
  background-color: #1db05f;
  margin-right: 24px;
}

.stop-button {
  background-color: #ef0d36;
  margin-right: 24px;
}

.reset-button {
  background-color: #eaa800;
}
@media screen and (min-width: 992px) {
  .stopwatch {
    font-size: 64px;
  }
}
@media screen and (max-width: 420px) {
  .container,
  .timer-container {
    width: 80%;
  }
}
